/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
    position: relative;
  }
  
  .flickity-enabled:focus {
    outline: none;
  }
  
  .flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  
  .flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  /* draggable */
  
  .flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
  }
  
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    transform: scale(0.8);
    transition: 0.5s ease all;
  }
  .flickity-viewport{
    transition: 0.8s ease all;
  }
 
  
  /* ---- flickity-button ---- */
  
  .flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
  }
  
  .flickity-button:hover {
   
    cursor: pointer;
  }
  
  .flickity-button:focus {
    outline: none;
    box-shadow: 0 0 0 5px #19f;
  }
  
  .flickity-button:active {
    opacity: 0.6;
  }
  
  .flickity-button:disabled {
    opacity: 0.3;
    cursor: auto;
    /* prevent disabled button from capturing pointer up event. #716 */
    pointer-events: none;
  }
  
  .flickity-button-icon {
    fill: white;
    display: none;
  }
  
  /* ---- previous/next buttons ---- */
  
  .flickity-prev-next-button {
    color: wheat;
    top: 82%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* vertically center */
    transform: translateX(60%);
    border: none;
  }
  
  .flickity-prev-next-button.previous {
    left: 10px;
    
    backdrop-filter: saturate(100%) blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(./images/Asset\ 12.svg);
    color: wheat;
  }
  .flickity-prev-next-button.next {
    left: 70px;
  
    backdrop-filter: saturate(100%) blur(6px);
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url(./images/Asset\ 122.svg);
    color: wheat;
  }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px;
    
  
  }
  .flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px;
   
  }
  .feartured-groub .slick-prev {
    top: -15%;
    left: 98%;
    display: none !important;
}
.feartured-groub .slick-next {
    right: -3%;
    top: -15%;
     display: none !important;
}

  
  .flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  
  /* ---- page dots ---- */
  
  .flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: -25px;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
  }
  
  .flickity-rtl .flickity-page-dots {
    direction: rtl;
  }
  
  .flickity-page-dots .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 8px;
    background: #333;
    border-radius: 50%;
    opacity: 0.25;
    cursor: pointer;
  }
  
  .flickity-page-dots .dot.is-selected {
    opacity: 1;
  }

.click{
  position: absolute;
  bottom: 55px;
  right:  40px;
  border-radius: 30px !important;
  height: 50px;
  width: 120px;
}

.carousel-text{
  position: absolute;
  bottom:  160px;
  left: 55px;
  color: white;
  transform: translateX(-65%);
  opacity: 0;
  visibility: hidden;
  transition: all ease 1s;
}
.carousel-cell.is-selected .carousel-text{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.step{
 word-wrap: break-word;
  font-size: 80px;
  padding: 10px;
}




.slick-dots {
    position: absolute;
    bottom: -40px !important;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
 