@media (max-width:767px) {
  .width-text{
    width: 100%;
  }
    .paragraph-home{
        font-size: 18px;
    }
    .h-nav {
        position: absolute;
        right: 20%;
        bottom: 20%;
      }
      .toggle{
        /* right: 10%;
        bottom: 30%;
        position: absolute; */
      
      }
      .text-font{
        font-size: 12px !important;
      }
      .email{
        transform: translateX(10px);
      }
      .about-text-groub{
        transform: translateY(50px);
      }
      .project-cermart{
        transform: translateY(-40%);
      }
      .footer-png{
        height: 112vh;
      }  
      .background-about 
      , .background-conatct 
      , .background-policy 
      , .background-promo {
        height: 100vh;
}
}



@media (max-width:767px){
    .carousel-text h1{
        font-size: 50px;
    }
    .carousel-text p{
        font-size: 15px;
    }
    .footer{
        height: 60vh;
      }
      .email{
        transform: translateX(-5px);
      }
      .about-text-groub h1{
        font-size: 40px;
      }
     
      .icon-about{
        position: absolute;
        top: 150px;
        left: 50px;
      }
      .icon-about img{
        width: 15%;
      }
      .icon-about-policy{
        position: absolute;
        top: 150px;
        left: 50px;
      }
      .icon-about-policy img{
        width: 15%;
      }
      .text-work{
        font-size: 12px;
      }
      .p-text{
        font-size: 12px;
      }

      .background2{
        height: 90vh;
      }
      .background2 h1{
      font-size: 40px;
      }
      .project-cermart{
        transform: translateY(-20%);
      }
      .footer-png{
        height: 145vh;
      }
      .arrow-style img{
      margin-top: 100px;
      width: 40px;
}
.margin-style{
  margin-top: 10px !important;
}
.promo-text{
  font-size: 11px;
}

}
@media (max-width: 992px) {
  .margin-style {
    margin-top: 28px;
}
.project-text{
        font-size: 50px;
      }
}
  